.header-logo {
  max-width: 100px;
}
.header-btn {
  border-radius: 30px 0;
  background-image: linear-gradient(128deg, #2af598 0%, #009efd 100%);
  font-size: 16px;
  color: #ffffff;
  font-weight: 500;
  font-family: 'Montserrat';
  padding: 0.6rem 1.5rem;
}
.nav-link {
  font-size: 15px;
  color: #263f44;
  font-weight: 400;
  font-family: 'Montserrat';
}

.hero h1 {
  font-size: 72px;
  line-height: 72px;
  color: #0d052e;
  font-weight: 400;
  font-family: 'Yeseva One';
}

.hero p {
  font-size: 15px;
  line-height: 30px;
  color: #8d8d8d;
  font-weight: 400;
  font-family: 'Montserrat';
}

.hero button {
  border-radius: 30px 0;
  background-image: linear-gradient(128deg, #2af598 0%, #009efd 100%);
  padding: 0.6rem 1.5rem;
  font-size: 16px;
  color: #ffffff;
  font-weight: 500;
  font-family: 'Montserrat';
}

.about h2 {
  font-size: 48px;
  color: #0d052e;
  font-weight: 400;
  font-family: 'Yeseva One';
}
.about-card {
  transition: all 0.3s ease;
}
.about-card:hover {
  border-radius: 100px 0;
  filter: drop-shadow(0px 30px 28.5px rgba(32, 168, 111, 0.1));
  background-color: #ffffff;
}
.about img {
  max-width: 90px;
}
.about h5 {
  font-size: 18px;
  color: #34285c;
  font-weight: 600;
  font-family: 'Montserrat';
}
.about p {
  font-size: 15px;
  line-height: 28px;
  color: #8d8d8d;
  font-weight: 400;
  font-family: 'Montserrat';
}

.features.hero h1 {
  font-size: 36px;
}

.achievements h3 {
  font-size: 36px;
  color: #0d052e;
  font-weight: 400;
  font-family: 'Yeseva One';
}
.achievements p {
  font-size: 15px;
  line-height: 30px;
  color: #707070;
  font-weight: 400;
  font-family: 'Montserrat';
}

.achievements-card {
  filter: drop-shadow(0px 6px 34.5px rgba(61, 232, 153, 0.15));
  background-color: #ffffff;
}

.achievements-card-2,
.achievements-card-3 {
  border-radius: 50px 0;
}

.achievements-card-bg,
.achievements-card-4 {
  border-radius: 0 50px;
}

.achievements-card-bg {
  background-image: linear-gradient(
    237deg,
    #2af598 0%,
    #009efd 100%,
    #000000 100%
  );
}

.achievements-card img,
.achievements-card-bg img {
  max-width: 50px;
}

.achievements-card h3,
.achievements-card-bg h3 {
  font-size: 24px;
  letter-spacing: 1px;
  font-weight: 700;
  font-family: 'Poppins';
}

.achievements-card p,
.achievements-card-bg p {
  font-size: 16px;
  font-weight: 300;
  font-family: 'Poppins';
}

.achievements-card h3,
.achievements-card p {
  color: #707070;
}

.achievements-card-bg h3,
.achievements-card-bg p {
  color: #ffffff;
}

.footer-title {
    font-size: 35px;
    line-height: 100px;
    color: #0d052e;
    font-weight: 400;
    font-family: "Yeseva One";
    text-align: center;
}

.footer-para {
    font-size: 20px;
    color: #353535;
    font-weight: 400;
    font-family: "Montserrat";
    text-align: center;
}

.footer-input {
    border-radius: 5px;
    filter: drop-shadow(0 0 28.5px rgba(0, 0, 0, 0.1));
    background-color: #ffffff;
    padding: 16px;
    width: 650px;
    outline: none;
    border: none;
}

.footer-btn {
    width: 178px;
    height: 46px;
    border-radius: 5px;
    background-image: linear-gradient(127deg, #2af598 0%, #009efd 100%);
    color: white;
    outline: none;
    border: none;
    position: absolute;
    right: 270px;
    margin-top: 5px;
}

.footer-btn:focus {
    outline: none;
    border: 2px solid rgb(21, 140, 249);
}

.footer-form-control {
    text-align: center;
}

.footer-bottom {
    margin-top: 120px;
}

.footer-logo {
    width: 130px;
    margin-bottom: 25px;
}

.social-icon {
    width: 29px;
    width: 20px;
    margin-left: 10px;
}

.footer-item ul li {
    list-style-type: none;
    line-height: 40px;
    color: #464646;
    font-weight: 500;
    font-family: "Montserrat";
}