.updates-title {
    font-size: 33px;
    color: #0d052e;
    font-weight: 400;
    font-family: "Yeseva One";
    text-align: center;
    margin-bottom: 15px;
}

.updates-para {
    font-size: 18px;
    color: #353535;
    font-weight: 400;
    font-family: "Montserrat";
    text-align: center;
    margin-bottom: 45px;
}

.updates-input {
    filter: drop-shadow(0 0 28.5px rgba(0, 0, 0, 0.1)) !important;
    background-color: #ffffff !important;
    padding: 28px !important;
    outline: none;
    border: none;
    position: relative;
}

.updates-btn {
    width: 178px;
    height: 46px;
    border-radius: 5px;
    background-image: linear-gradient(127deg, #2af598 0%, #009efd 100%);
    color: white;
    outline: none;
    border: none;
    position: absolute;
    right: 21px;
    margin-top: -51px;
}

.updates-btn:focus {
    outline: none;
    border: 2px solid rgb(21, 140, 249);
}

.offers-container {
    margin-bottom: 130px;
}

.footer-logo {
    width: 130px;
    margin-bottom: 25px;
}

.social-icon {
    width: 29px;
    width: 20px;
    margin-left: 10px;
}

.footer-item ul li {
    list-style-type: none;
    line-height: 40px;
    color: #464646;
    font-weight: 500;
    font-family: "Montserrat";
}